html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
}

.jumbotron {
  margin-top: 50px;
}

body {
  background-color: lightblue;
  margin: 0;
  padding-top: 65px;
}

.media-container {
  height: 100%;
}

.media-container article {
  height: 100%;
}
