/*
 * SPDX-FileCopyrightText: 2019 John Irle
 *
 * SPDX-License-Identifier: MIT
 */

.jumbotron {
    margin-top: 50px;
}

.media-container {
    height: 100%;
}

.media-container article {
    height: 100%;
}
